.bg-back{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.fixed-bar{
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1030;
}
.bg-col1 {
    height: 260px;
    width: 100%;
    border: 1px solid black;
}
.bg-col2 {
    height: 480px;
    width: 100%;
    border: 1px solid black;
}
.bg-col3 {
    height: 90vh;
    width: 100%;
    border: 1px solid black;
}
@media (max-width: 576px) {
    .bg-col1 {
        height: 60px;
        width: 100%;
        border: 1px solid black;
    }
    .fixed-bar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1030;
    }
    .bg-col2{
        margin-top: 60px;
    }
}
@media (min-width: 768px) {
    .max-container{
        width: 720px;
    }
}